sudo: required

language: node_js
node_js:
  - "7"
services:
  - docker

install:
  - npm install
script: npm test

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" hub-docker.norsys.fr
  - docker build -t hub-docker.norsys.fr/norsys/arcadia-back .
  - docker push hub-docker.norsys.fr/norsys/arcadia-back